# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/

# Ignore compiled binaries
*.o
*.exe

# Ignore environment variables
.env

# Ignore logs
*.log

save it all/
save it all 2/
